.ssh/
?Bug*/
?Swat*/
_NPCScan/
AckisRecipeList/
ACP/
Archy/
Atla*/
Auc*/
Bad*/
Batt*/
Blizz*/
BugS*/
Cool*/
DBM*/
Ensi*/
Fish*/
Gath*/
Handy*/
Hea*/
Mac*/
Over*/
Post*/
Refo*/
shPer*/
Sli*/
Ska*/
Sma*/
Speed*/
Tom*/
xCT*/
Zygo*/
*.zip